{% extends "Analytics/base.html" %}

{% block apparel-photos %}


<!DOCTYPE html>

<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <title>Welcome to Apollo Pharmacy</title>
    </head>
    <body>
    
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">view1</a></li>
        <li><a href="#">view2</a></li>
        <li><a href="#">view3</a></li>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/static/Analytics/js/graphs/oschart.js"></script>
<script src="/static/Analytics/js/graphs/bchart.js"></script>

    <!-- Bootstrap core CSS -->
<script>
function drawChart1() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Tping');
data.addColumn('number', 'Slices');
data.addRows({{ o_datatable|safe }});

var options = {'title':'Activities on apparels in your selected price range',
               'width':600,
               'height':500,
                'backgroundColor': '#dddddd'};

var chart = new google.visualization.PieChart(document.getElementById('o_chartpie'));
chart.draw(data, options);
}
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart1);
</script>
<script>
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable({{ top_apparels|safe }});

    var options = {
      height: 500,
      title: 'Company Performance',
      vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.BarChart(document.getElementById('top_apparels'));

    chart.draw(data, options);
  }
</script>

<script>
function drawChart() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Tping');
data.addColumn('number', 'Slices');
data.addRows({{ b_datatable|safe }});

// Set chart options
var options = {'title':'Activities on apparels in your selected price range',
               'width':600,
               'height':500,
                'backgroundColor': '#dddddd'};

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.PieChart(document.getElementById('b_chartpie'));
chart.draw(data, options);
}    
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
</script>

<script type="text/javascript">
google.load("visualization", "1", {packages:["geochart"]});
google.setOnLoadCallback(drawRegionsMap);

function drawRegionsMap() {
var data = google.visualization.arrayToDataTable({{ country_datatable|safe }});
var options = {width: 500, height: 500};
var chart = new google.visualization.GeoChart(document.getElementById('country_div'));
chart.draw(data, options);
}
</script>
<script>
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
/*data_raw = [['month', 'Tried', 'Share', 'Follow']];
data_raw.push(['jan', 10, 12, 10]);*/
alert('fdsfds');
var data = google.visualization.arrayToDataTable({{ time_datatable|safe }});
  var options = {
    title: 'Top Apparels',
    hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
    backgroundColor: '#dddddd',
    width: 300,
    height: 300,
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('timewise'));

  chart.draw(data, options);
}
</script>
<script>
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
data_raw = [['month', 'Tried', 'ShareFB', 'ShareGP', 'Follow', 'buy'], ['jan', 10, 12, 10, 10, 10], ['jan', 10, 12, 10, 10, 10]];
var data = google.visualization.arrayToDataTable(data_raw);
  var options = {
    title: 'User Activities month wise',
    hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
    backgroundColor: '#dddddd',
    width: 300,
    height: 300,
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('abcd'));

  chart.draw(data, options);
}

</script>
<div class="row">
<div class="col-lg-6" id="top_apparels"></div>
<div class="col-lg-6" id="timewise"></div>
<div class="col-lg-6" id="abcd"></div>
</div>
<div id="b_chartpie"></div>
<div id="o_chartpie"></div>
<div id="country_div"></div>
    <script src="static/js/jquery-1.11.0.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  
</body></html>


{% endblock %}

{% block login %}
 <li><a href='/Analytics/logout'>Logout</a></li>
{% endblock %}
{% block link-myapparels %}
    '/Analytics/dashboard'
{% endblock %}

{% block link-reports %}
    '/Analytics/reports'
{% endblock %}
