{% extends "Analytics/base.html" %}

{% block name-apparels %}
{% endblock %}

{% block name-reports %}
{% endblock %}

{% block name-settings %}
{% endblock %}

{% block login %} 
    <div style='color: grey; padding-top:10px;'>

                
        <form method="POST" action="/Analytics/login/">  
            {% csrf_token %}
    {{ LoginForm.as_table }} &nbsp&nbsp&nbsp&nbsp <input value="LogIn" type="submit" />

</form>
    </div>
{% endblock %}
{% block apparel-photos %}
{{ isbound }}
<form method="POST" action="/Analytics/register/"> <pre style="font-family: Arial, Helvetica, sans-serif;">
    {% csrf_token %}
    {{ RegisterForm.as_p }}
    </pre>
    <input value="Register Now" type="submit" />
</form>

{% endblock %}